{% extends 'base.html' %}
{% load static %}

{% block content %}

<title>{{ post.name }}</title>

<main class="container">
    <div id="cont" class="row">
        <div class="col-md-8">

            <article class="blog-post">
                <h2 class="blog-post-title">{{ post.name }}</h2>
                <img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.name }}">
                <p>{{ post.article }}</p>
            </article>

            <nav class="blog-pagination" aria-label="Pagination">
                {% for likes_count in likes %}
                    {% if likes_count.id == post.id %}
                    <span id="likes_count">{{ likes_count.number_of_answers }}</span>
                    {% endif %}
                {% endfor %}
                {% if post.liked_by_user %}
                <button id="like_button" class="btn btn-outline-primary btn-primary text-white">Like</button>
                {% else %}
                <button id="like_button" class="btn btn-outline-primary">Like</button>
                {% endif %}
            </nav>

        </div>

    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $('#like_button').click(function(e) {
		e.preventDefault();

		var like = false;
        if ($('#like_button').attr('class') != 'btn btn-outline-primary btn-primary text-white') {
            like = true;
        }

		$.ajax({
			type: 'POST',
			url: 'like',
			data: {
			    csrfmiddlewaretoken: getCookie('csrftoken'),
				id: {{ post.id }},
				like: like,
			},
			success:function(){
                if ($('#like_button').attr('class') != 'btn btn-outline-primary btn-primary text-white') {
                    var likes_count = parseInt($('#likes_count').text());
                    $('#likes_count').text(likes_count + 1);
                    $('#like_button').addClass('btn-primary text-white');
                } else {
                    var likes_count = parseInt($('#likes_count').text());
                    $('#likes_count').text(likes_count - 1);
                    $('#like_button').removeClass('btn-primary text-white');
                }
			}
		})
	})

</script>
{% endblock content %}